In [1]:
import pandas as pd
from nltk.metrics import edit_distance, fractional_presence, jaccard_distance
import re

In [2]:
re.search('Volume\s[0-9]', 'Shakespeare Volume 1')

In [3]:
database = 'sqlite:////home/jon/Code/gitenberg-scrape/pg-text-7.db'

In [4]:
query = """select author, authoryearofbirth, authoryearofdeath, count(1) as books 
           from meta 
           where LCC like "%PR%" and languages like "%en%" 
           group by author having books > 10"""
authorList = pd.read_sql(query, database)

In [5]:
droplist = []
for i, row in authorList.iterrows():
    author = row.author
    if len(author) < 1: 
        droplist.append(i)
#     if 'Anonymous' in author:
#         droplist.append(i)
authorList = authorList.drop(droplist)

In [6]:
authorList.sort_values('books', ascending=False)

,author,authoryearofbirth,authoryearofdeath,books
83,"Lytton, Edward Bulwer Lytton, Baron",1803,1873,209
115,"Shakespeare, William",1564,1616,174
68,"Jacobs, W. W. (William Wymark)",1863,1943,111
92,"Meredith, George",1828,1909,109
119,"Stevenson, Robert Louis",1850,1894,78
40,"Dickens, Charles",1812,1870,74
126,"Trollope, Anthony",1815,1882,69
79,"Le Queux, William",1864,1927,62
113,"Scott, Walter",1771,1832,57
43,"Doyle, Arthur Conan",1859,1930,57
103,"Oppenheim, E. Phillips (Edward Phillips)",1866,1946,56
80,"Lever, Charles James",1806,1872,55
84,"MacDonald, George",1824,1905,54
51,"Fenn, George Manville",1831,1909,53
54,"Galsworthy, John",1867,1933,52
58,"Haggard, H. Rider (Henry Rider)",1856,1925,51
69,"James, G. P. R. (George Payne Rainsford)",,1860,49
140,"Yonge, Charlotte M. (Charlotte Mary)",1823,1901,48
74,"Kipling, Rudyard",1865,1936,48
60,"Henty, G. A. (George Alfred)",1832,1902,44
13,"Bindloss, Harold",1866,1945,42
116,"Shaw, Bernard",1856,1950,40
88,"Marryat, Frederick",1792,1848,39
132,"Wells, H. G. (Herbert George)",1866,1946,39
33,"Conrad, Joseph",1857,1924,38
136,"Wodehouse, P. G. (Pelham Grenville)",1881,1975,37
9,"Becke, Louis",1855,1913,37
105,"Quiller-Couch, Arthur",1863,1944,35
32,"Collins, Wilkie",1824,1889,34
19,"Borrow, George",1803,1881,33
...,...,...,...,...
61,"Hewlett, Maurice",1861,1923,14
108,"Richardson, Samuel",1689,1761,14
100,"Murray, David Christie",1847,1907,14
82,"Lowndes, Marie Belloc",1868,1947,13
114,"Sedgwick, Anne Douglas",1873,1935,13
14,"Birmingham, George A.",1865,1950,13
91,"Maugham, W. Somerset (William Somerset)",1874,1965,13
110,"Ruskin, John",1819,1900,13
96,"Mitford, Mary Russell",1787,1855,13
5,"Austen, Jane",1775,1817,13
34,"Corelli, Marie",1855,1924,13
99,"Mundy, Talbot",1879,1940,13
106,"Reade, Charles",1814,1884,13
85,"MacKenzie, Compton",1883,1972,13
24,"Butler, Samuel",1835,1902,13
6,"Barr, Robert",1850,1912,12
129,"Von Arnim, Elizabeth",1866,1941,12
81,"Locke, William John",1863,1930,12
25,"Byron, George Gordon Byron, Baron",1788,1824,12
50,"Farnol, Jeffery",1878,1952,12
94,"Milne, A. A. (Alan Alexander)",1882,1956,12
87,"Marlowe, Christopher",1564,1593,12
141,"Zangwill, Israel",1864,1926,12
130,"Wallace, Edgar",1875,1932,11
30,"Cholmondeley, Mary",1859,1925,11
22,"Buchan, John",1875,1940,11
21,"Brame, Charlotte M.",1836,1884,11
122,"Tennyson, Alfred Tennyson, Baron",1809,1892,11
138,"Wordsworth, William",1770,1850,11
63,"Hocking, Joseph",1860,1937,11

In [7]:
def toInt(numStr): 
    if len(numStr) > 0: 
        return int(numStr)
    else: 
        return None
    
def getTitles(authorRow): 
    author = authorRow.author
    dob = int(authorRow.authoryearofbirth) if len(authorRow.authoryearofbirth) > 0 else None
    dod = int(authorRow.authoryearofdeath) if len(authorRow.authoryearofdeath) > 0 else None
    query = 'select id, title, author, authoryearofbirth, authoryearofdeath, gr_pubDate from meta where author = "' + author + '" and LCC like "%PR%" and languages like "%en%"'
    df = pd.read_sql(query, database)
    df.drop_duplicates('title', keep='last', inplace=True)
    droplist = []
    for i, row in df.iterrows():
        # Remove multi-volume works, 
        # since they're usually accompanied by a complete version anyway. 
        if re.search('Volume\s[0-9]', row.title) is not None: 
            droplist.append(i)
            continue
        
        # This removes titles like "The Complete Works of...," 
        # which often contain works found elsewhere in the corpus. 
        if "Works of" in row.title:
            droplist.append(i)
            continue
        
        if len(row.gr_pubDate)>3:
            date = int(row.gr_pubDate[:4])
            # Sanity check on the date of publication. 
            # Is it before or after the author's birth/death dates? 
            if dob is not None and dod is not None:
                if date < dob or date > dod: 
                    droplist.append(i)
                    continue
        
        else:
            # Scrap those without dates for now. 
            # TODO: look these up on OpenLibrary or equivalent API
            droplist.append(i)
            continue
        
    df.drop(droplist, inplace=True)
    df['date'] = df['gr_pubDate'].apply(lambda x: int(x[:4]))
    df['authoryearofbirth'] = df['authoryearofbirth'].apply(toInt)
    df['authoryearofdeath'] = df['authoryearofdeath'].apply(toInt)
    df['age'] = df['date']-df['authoryearofbirth'] if df['date'] is not None and df['authoryearofbirth'] is not None else None
    df['yearsToDeath'] = df['authoryearofdeath']-df['date']
    return df

In [8]:
getTitles(authorList.loc[91])

,id,title,author,authoryearofbirth,authoryearofdeath,gr_pubDate,date,age,yearsToDeath
0,222.0,The Moon and Sixpence,"Maugham, W. Somerset (William Somerset)",1874,1965,1919--,1919,45,46
1,351.0,Of Human Bondage,"Maugham, W. Somerset (William Somerset)",1874,1965,1915--,1915,41,50
3,16517.0,Liza of Lambeth,"Maugham, W. Somerset (William Somerset)",1874,1965,1897--,1897,23,68
4,26854.0,The Trembling of a Leaf: Little Stories of the...,"Maugham, W. Somerset (William Somerset)",1874,1965,1921--,1921,47,44
8,34860.0,East of Suez: A Play in Seven Scenes,"Maugham, W. Somerset (William Somerset)",1874,1965,1922-1-1,1922,48,43
12,42395.0,The Circle: A Comedy in Three Acts,"Maugham, W. Somerset (William Somerset)",1874,1965,1921--,1921,47,44

In [9]:
authorTitlesDict = {authorRow.author: getTitles(authorRow)
                    for i, authorRow in authorList.iterrows() 
                    if len(getTitles(authorRow)) > 7}

In [10]:
authorTitlesDict['Shakespeare, William']

,id,title,author,authoryearofbirth,authoryearofdeath,gr_pubDate,date,age,yearsToDeath
1,1041.0,Shakespeare's Sonnets,"Shakespeare, William",1564,1616,1592--,1592,28,24
2,1045.0,Venus and Adonis,"Shakespeare, William",1564,1616,1592--,1592,28,24
5,1102.0,The Third Part of King Henry the Sixth,"Shakespeare, William",1564,1616,1591--,1591,27,25
8,1105.0,The Sonnets,"Shakespeare, William",1564,1616,1592--,1592,28,24
15,1112.0,The Tragedy of Romeo and Juliet,"Shakespeare, William",1564,1616,1595--,1595,31,21
20,1117.0,Second Part of King Henry IV,"Shakespeare, William",1564,1616,1597--,1597,33,19
30,1127.0,"The Tragedy of Othello, Moor of Venice","Shakespeare, William",1564,1616,1603--,1603,39,13
32,1129.0,The Tragedy of Macbeth,"Shakespeare, William",1564,1616,1606--,1606,42,10
41,1500.0,"King Henry VI, First Part","Shakespeare, William",1564,1616,1590--,1590,26,26
42,1501.0,"History of King Henry the Sixth, Second Part","Shakespeare, William",1564,1616,1590--,1590,26,26
43,1502.0,"The History of King Henry the Sixth, Third Part","Shakespeare, William",1564,1616,1591--,1591,27,25
44,1503.0,The Tragedy of King Richard III,"Shakespeare, William",1564,1616,1591--,1591,27,25
47,1506.0,The Rape of Lucrece,"Shakespeare, William",1564,1616,1594--,1594,30,22
53,1512.0,The Tragedy of King Richard the Second,"Shakespeare, William",1564,1616,1603--,1603,39,13
57,1516.0,"King Henry IV, the First Part","Shakespeare, William",1564,1616,1597--,1597,33,19
59,1518.0,"King Henry IV, Second Part","Shakespeare, William",1564,1616,1597--,1597,33,19
66,1525.0,The Phoenix and the Turtle,"Shakespeare, William",1564,1616,1601--,1601,37,15
68,1527.0,"Twelfth Night; Or, What You Will","Shakespeare, William",1564,1616,1601--,1601,37,15
83,1543.0,A Lover's Complaint,"Shakespeare, William",1564,1616,1609--,1609,45,7
92,1773.0,Two Gentlemen of Verona,"Shakespeare, William",1564,1616,1594--,1594,30,22
95,1776.0,King Richard II,"Shakespeare, William",1564,1616,1595--,1595,31,21
99,1780.0,"King Henry IV, Part 1","Shakespeare, William",1564,1616,1597--,1597,33,19
101,1782.0,"King Henry IV, Part 2","Shakespeare, William",1564,1616,1597--,1597,33,19
103,1784.0,King Henry V,"Shakespeare, William",1564,1616,1599-1-1,1599,35,17
107,1790.0,Troilus and Cressida,"Shakespeare, William",1564,1616,1602--,1602,38,14
121,2236.0,The Two Gentlemen of Verona,"Shakespeare, William",1564,1616,1594--,1594,30,22
122,2237.0,The Merry Wives of Windsor,"Shakespeare, William",1564,1616,1597--,1597,33,19
123,2238.0,Measure for Measure,"Shakespeare, William",1564,1616,1603--,1603,39,13
124,2239.0,The Comedy of Errors,"Shakespeare, William",1564,1616,1594--,1594,30,22
125,2240.0,Much Ado about Nothing,"Shakespeare, William",1564,1616,1598--,1598,34,18
...,...,...,...,...,...,...,...,...,...
131,2246.0,All's Well That Ends Well,"Shakespeare, William",1564,1616,1602--,1602,38,14
132,2247.0,Twelfth Night,"Shakespeare, William",1564,1616,1601--,1601,37,15
133,2248.0,The Winter's Tale,"Shakespeare, William",1564,1616,1600-1-4,1600,36,16
134,2249.0,King John,"Shakespeare, William",1564,1616,1595--,1595,31,21
135,2250.0,Richard II,"Shakespeare, William",1564,1616,1595--,1595,31,21
136,2251.0,"Henry IV, Part 1","Shakespeare, William",1564,1616,1597--,1597,33,19
137,2252.0,"Henry IV, Part 2","Shakespeare, William",1564,1616,1597--,1597,33,19
138,2253.0,Henry V,"Shakespeare, William",1564,1616,1599-1-1,1599,35,17
139,2254.0,"Henry VI, Part 1","Shakespeare, William",1564,1616,1590--,1590,26,26
140,2255.0,"Henry VI, Part 2","Shakespeare, William",1564,1616,1590--,1590,26,26
141,2256.0,"Henry VI, Part 3","Shakespeare, William",1564,1616,1591--,1591,27,25
142,2257.0,Richard III,"Shakespeare, William",1564,1616,1591--,1591,27,25
143,2258.0,Henry VIII,"Shakespeare, William",1564,1616,1613--,1613,49,3
144,2259.0,Coriolanus,"Shakespeare, William",1564,1616,1605--,1605,41,11
145,2260.0,Titus Andronicus,"Shakespeare, William",1564,1616,1589--,1589,25,27
146,2261.0,Romeo and Juliet,"Shakespeare, William",1564,1616,1595--,1595,31,21
147,2262.0,Timon of Athens,"Shakespeare, William",1564,1616,1607--,1607,43,9
148,2263.0,Julius Caesar,"Shakespeare, William",1564,1616,1599-12-21,1599,35,17
149,2264.0,Macbeth,"Shakespeare, William",1564,1616,1606--,1606,42,10
150,2265.0,Hamlet,"Shakespeare, William",1564,1616,1600--,1600,36,16
151,2266.0,King Lear,"Shakespeare, William",1564,1616,1603--,1603,39,13
152,2267.0,Othello,"Shakespeare, William",1564,1616,1603--,1603,39,13
153,2268.0,Antony and Cleopatra,"Shakespeare, William",1564,1616,1606--,1606,42,10
154,2269.0,Cymbeline,"Shakespeare, William",1564,1616,1611--,1611,47,5
155,2270.0,Shakespeare's First Folio,"Shakespeare, William",1564,1616,1595--,1595,31,21
156,9077.0,"The Tragicall Historie of Hamlet, Prince of De...","Shakespeare, William",1564,1616,1603--,1603,39,13
157,10606.0,"The Tragedie of Hamlet, Prince of Denmark: A S...","Shakespeare, William",1564,1616,1600--,1600,36,16
158,12578.0,Shakespeare's play of the Merchant of Venice: ...,"Shakespeare, William",1564,1616,1596--,1596,32,20
159,22791.0,King Henry the Fifth: Arranged for Representat...,"Shakespeare, William",1564,1616,1599-1-1,1599,35,17
167,28334.0,The New Hudson Shakespeare: Julius Cæsar,"Shakespeare, William",1564,1616,1599-12-21,1599,35,17

In [11]:
masterList = pd.concat(authorTitlesDict.values())

In [12]:
masterList

,id,title,author,authoryearofbirth,authoryearofdeath,gr_pubDate,date,age,yearsToDeath
0,4340.0,The British Barbarians,"Allen, Grant",1848,1899,1895--,1895,47,4
1,4396.0,The Woman Who Did,"Allen, Grant",1848,1899,1895--,1895,47,4
5,5869.0,Michael's Crag,"Allen, Grant",1848,1899,1893--,1893,45,6
6,6010.0,What's Bred in the Bone,"Allen, Grant",1848,1899,1891--,1891,43,8
7,6060.0,Philistia,"Allen, Grant",1848,1899,1884--,1884,36,15
8,13876.0,The Great Taboo,"Allen, Grant",1848,1899,1891--,1891,43,8
9,18788.0,Post-Prandial Philosophy,"Allen, Grant",1848,1899,1894--,1894,46,5
10,30970.0,Miss Cayley's Adventures,"Allen, Grant",1848,1899,1899--,1899,51,0
13,43688.0,"Wednesday the Tenth, A Tale of the South Pacific","Allen, Grant",1848,1899,1890--,1890,42,9
0,14005.0,The Ladies Delight,Anonymous,None,None,1732--,1732,NaN,NaN
1,15883.0,The London-Bawd: With Her Character and Life: ...,Anonymous,None,None,2009-10-4,2009,NaN,NaN
2,17083.0,Adventures of a Sixpence in Guernsey by A Native,Anonymous,None,None,2005-11-17,2005,NaN,NaN
3,17270.0,The Interlude of Wealth and Health,Anonymous,None,None,2012-5-17,2012,NaN,NaN
4,20642.0,The Assemble of Goddes,Anonymous,None,None,2009-5-10,2009,NaN,NaN
5,23390.0,The True Life of Betty Ireland: With Her Birth...,Anonymous,None,None,2012-5-12,2012,NaN,NaN
6,24825.0,The Ghost of Chatham; A Vision: Dedicated to t...,Anonymous,None,None,2012-5-11,2012,NaN,NaN
10,28521.0,The Power of Mesmerism: A Highly Erotic Narrat...,Anonymous,None,None,2006--,2006,NaN,NaN
11,28522.0,Laura Middleton; Her Brother and her Lover,Anonymous,None,None,1890--,1890,NaN,NaN
12,29189.0,"A Letter From a Clergyman to his Friend,: with...",Anonymous,None,None,2012-5-12,2012,NaN,NaN
13,30254.0,The Romance of Lust: A Classic Victorian eroti...,Anonymous,None,None,1873--,1873,NaN,NaN
15,33735.0,Pamela Censured,Anonymous,None,None,2011-3-24,2011,NaN,NaN
18,42289.0,Abbotsford,Anonymous,None,None,1912--,1912,NaN,NaN
1,25129.0,"Baboo Jabberjee, B.A.","Anstey, F.",1856,1934,1897--,1897,41,37
2,26853.0,"Vice Versa; or, A Lesson to Fathers","Anstey, F.",1856,1934,1882--,1882,26,52
3,27284.0,"The Talking Horse, and Other Tales","Anstey, F.",1856,1934,1892--,1892,36,42
4,27507.0,The Giant's Robe,"Anstey, F.",1856,1934,1883--,1883,27,51
5,28459.0,In Brief Authority,"Anstey, F.",1856,1934,1915--,1915,59,19
6,30689.0,The Brass Bottle,"Anstey, F.",1856,1934,1900--,1900,44,34
7,35305.0,Mr Punch's Pocket Ibsen - A Collection of Some...,"Anstey, F.",1856,1934,1893--,1893,37,41
8,36703.0,A Bayard From Bengal: Being some account of th...,"Anstey, F.",1856,1934,1902--,1902,46,32
...,...,...,...,...,...,...,...,...,...
3,24450.0,Bones: Being Further Adventures in Mr. Commiss...,"Wallace, Edgar",1875,1932,1915--,1915,40,17
4,24767.0,Jack O' Judgment,"Wallace, Edgar",1875,1932,1920--,1920,45,12
5,24929.0,The Green Rust,"Wallace, Edgar",1875,1932,1919--,1919,44,13
6,24933.0,The Man Who Knew,"Wallace, Edgar",1875,1932,1918--,1918,43,14
7,25803.0,The Keepers of the King's Peace,"Wallace, Edgar",1875,1932,1917--,1917,42,15
8,26176.0,The Secret House,"Wallace, Edgar",1875,1932,1917--,1917,42,15
9,27525.0,Bones in London,"Wallace, Edgar",1875,1932,1921--,1921,46,11
10,35545.0,Sanders of the River,"Wallace, Edgar",1875,1932,1911--,1911,36,21
1,301.0,The Ballad of Reading Gaol,"Wilde, Oscar",1854,1900,1898--,1898,44,2
3,774.0,Essays and Lectures,"Wilde, Oscar",1854,1900,1879--,1879,25,21
4,790.0,Lady Windermere's Fan,"Wilde, Oscar",1854,1900,1893--,1893,39,7
6,854.0,A Woman of No Importance,"Wilde, Oscar",1854,1900,1894--,1894,40,6
7,873.0,A House of Pomegranates,"Wilde, Oscar",1854,1900,1891--,1891,37,9
9,885.0,An Ideal Husband,"Wilde, Oscar",1854,1900,1893-4-1,1893,39,7
11,902.0,"The Happy Prince, and Other Tales","Wilde, Oscar",1854,1900,1888--,1888,34,12
17,1338.0,Selected Prose of Oscar Wilde,"Wilde, Oscar",1854,1900,1900--,1900,46,0
22,14522.0,The Canterville Ghost,"Wilde, Oscar",1854,1900,1887-5-29,1887,33,13
23,23229.0,For Love of the King: A Burmese Masque,"Wilde, Oscar",1854,1900,1894--,1894,40,6
24,26494.0,"Vera; Or, The Nihilists","Wilde, Oscar",1854,1900,1880--,1880,26,20
25,26740.0,The Picture of Dorian Gray,"Wilde, Oscar",1854,1900,1891--,1891,37,9
26,30120.0,The Happy Prince and Other Tales,"Wilde, Oscar",1854,1900,1888--,1888,34,12
29,42704.0,Salomé: A Tragedy in One Act,"Wilde, Oscar",1854,1900,1891--,1891,37,9
0,6304.0,Without Prejudice,"Zangwill, Israel",1864,1926,1896--,1896,32,30
2,16408.0,The Grey Wig: Stories and Novelettes,"Zangwill, Israel",1864,1926,1903--,1903,39,23
3,20078.0,Merely Mary Ann,"Zangwill, Israel",1864,1926,1893--,1893,29,33
5,28164.0,The Big Bow Mystery,"Zangwill, Israel",1864,1926,1891--,1891,27,35
6,28982.0,Ghetto Comedies,"Zangwill, Israel",1864,1926,1907--,1907,43,19
7,29875.0,Dreamers of the Ghetto,"Zangwill, Israel",1864,1926,1898--,1898,34,28
8,35076.0,Ghetto Tragedies,"Zangwill, Israel",1864,1926,1899--,1899,35,27
9,35238.0,The Grandchildren of the Ghetto,"Zangwill, Israel",1864,1926,1892--,1892,28,34

In [13]:
masterList.to_csv('bibliography/everyone.csv')